spring:
  application:
    name: payment-service
  cache:
    type: caffeine
  cloud:
    stream:
      default-binder: kafka
      bindings:
        springCloudBusInput:
          binder: rabbit
        springCloudBusOutput:
          binder: rabbit
  config:
    import: optional:configserver:http://config-server:8888
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
