spring:
  application:
    name: notification-service
  cloud:
    config:
      enabled: false
    bus:
      enabled: false
  config:
    import: ""
  kafka:
    bootstrap-servers: localhost:0
    listener:
      auto-startup: false
  rabbitmq:
    host: localhost
    port: 0
  mail:
    host: localhost
    port: 3025
    username: defaultUsername
    password: defaultPassword
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: false
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:

eureka:
  client:
    enabled: false

management:
  tracing:
    enabled: false
  prometheus:
    metrics:
      export:
        enabled: false

logging:
  level:
    root: INFO
