spring:
  config:
    activate.on-profile: prod

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  mail:
    from: ${APP_MAIL_FROM:${MAIL_USERNAME}}
    fromName: ${APP_MAIL_FROM_NAME:Karate Management System}

management:
  tracing:
    sampling:
      probability: 0.1   # np. 10% sampling w prod
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  config: classpath:logback-spring.xml
  level:
    root: INFO
    com.karate: INFO

resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 50
        minimumNumberOfCalls: 20
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
