spring:
  application:
    name: notification-service
  cache:
    type: caffeine
  config:
    import: optional:configserver:http://localhost:8888
  #    import: optional:configserver:http://config-server:8888
  cloud:
    stream:
      default-binder: kafka
      bindings:
        user-events-in:
          destination: user-events
          group: notification-service
          binder: kafka
        enrollment-events-in:
          destination: enrollment-events
          group: notification-service
          binder: kafka
        feedback-events-in:
          destination: feedback-events
          group: notification-service
          binder: kafka
        springCloudBusInput:
          binder: rabbit
        springCloudBusOutput:
          binder: rabbit
  rabbitmq:
    host: localhost
    #    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:lupelikan@gmail.com}
    password: ${MAIL_PASSWORD:pgsb mngi otlz swpu}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:true}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS:true}
      timeout: ${MAIL_PROPERTIES_TIMEOUT:5000}
      connectiontimeout: ${MAIL_PROPERTIES_CONNECTION_TIMEOUT:5000}
      writetimeout: ${MAIL_PROPERTIES_WRITE_TIMEOUT:5000}

app:
  mail:
    from: ${APP_MAIL_FROM:lupelikan@gmail.com}
    fromName: ${APP_MAIL_FROM_NAME:Karate Management System}
