<div class="logged-in-container">
  <div class="image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrsf4fPQ6N-ZN9WlKoSxw_LrIbTGFHP0t_bw&s" alt="Karate"
         class="side-photo">
  </div>
  <div class="logout-container">
    <h1 class="logout-message">If you want to LOGOUT, click here</h1>
    <button class="btn btn-logout" (click)="logout()">Logout</button>
  </div>
  <div class="image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkQXO5kqWXo1NI_TQkTV9vF6VQLHCTCRdBEg&s" alt="Karate"
         class="side-photo">
  </div>
</div>
