spring:
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
    netflix:
      eureka:
        enabled: false

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
