server:
  port: 8888

spring:
  application:
    name: config-server
  cache:
    type: caffeine
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Senegalion/karate-config-server-repo
          default-label: main
          clone-on-start: true

eureka:
  instance:
    instance-id: ${spring.application.name}:${server.port}
  client:
    service-url:
#      defaultZone: http://localhost:8761/eureka/
      defaultZone: http://service-registry:8761/eureka/
