spring:
  application:
    name: training-service
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6381
      timeout: 2s
  config:
    import: optional:configserver:http://localhost:8888
#    import: optional:configserver:http://config-server:8888
  rabbitmq:
    host: localhost
#    host: rabbitmq
    port: 5672
    username: guest
    password: guest
